<div class="main-content">

  <div class="header-title">
    <h1>3 En Linea</h1>
  </div>
<div class="center-layout">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp card-users" ng-if="!main.play">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text" ng-bind="main.nameUser"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form  ng-submit="main.setUser(main.user.name)">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input animated " ng-class="{'error-input': main.errorInput, 'shake':  main.errorInput}" ng-model="main.user.name" type="text" >
          <label class="mdl-textfield__label" for="sample1">Nombre del jugador</label>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="main.setUser(main.user.name)">
        continuar
      </button>
    </div>
  </div>
 <div class="demo-card-wide mdl-card mdl-shadow--2dp card-player-turn" ng-if="main.play">
    <div class="row">

       <div class="player " ng-class="{'player__active-1': main.turnPlayerOne}">
         <span ng-bind="main.users[0].name"></span>
         <span>: X</span>

         <div class="winners">
           <div class="star" ng-repeat="n in [].constructor(main.users[0].win) track by $index">
             <i class="material-icons">star_rate</i>
           </div>
         </div>
       </div>
       <div class="player"  ng-class="{'player__active-2': !main.turnPlayerOne}">
         <span ng-bind="main.users[1].name"></span>
         <span>: O</span>
         <div class="winners">
           <div class="star" ng-repeat="n in [].constructor(main.users[1].win) track by $index">
             <i class="material-icons">star_rate</i>
           </div>
         </div>
       </div>
    </div>
  </div>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp card-play" ng-if="main.play">
    <div class="btn-range" ng-click="main.range=true">
      <i class="material-icons" id="tt3" >list</i>
      <div class="mdl-tooltip mdl-tooltip--large" for="tt3">
    Ver Puntajes
    </div>
    </div>
    
    <div class="board">
      <div class="row" ng-repeat="row in main.arrayBoard track by $index">
        <div class="square" ng-repeat="column in row  track by $index" ng-click="main.changeValue($parent.$index, $index)" id="square-{{$parent.$index}}-{{$index}}">
            <div class="value value__p1 animated zoomIn" ng-if="main.arrayBoard[$parent.$index][$index] == 1">
              <span>x</span>
            </div>
            <div class="value value__p2 animated zoomIn" ng-if="main.arrayBoard[$parent.$index][$index] == 2">
              <span>o</span>
            </div>
        </div>
      </div>
      </div>

      <div class="winner-board animated zoomIn" ng-if="main.finishMatch">
            <div class="text" >
              <span ng-bind="main.result"></span>
            </div>
      </div>

      <div class="range-users animated slideInLeft" ng-if="main.range">
        <div class="btn-range btn-range__close" ng-click="main.range=false">
          <i class="material-icons">arrow_back</i>
        </div>
        <ul class="demo-list-icon mdl-list">
           <li class="mdl-list__item" >
              <div class="mdl-list__item-primary-content">
                <span><strong>Pos</strong></span>
                <span><strong>Username</strong></span>
                <span><strong>Pts</strong></span>
              </div>
            </li>
            <li class="mdl-list__item" ng-repeat="user in main.usersList | orderBy:'-pts'">
              <div class="mdl-list__item-primary-content">
                <span>{{$index + 1}}</span>
                <span>{{user.user}}</span>
                <span>{{user.pts}}</span>
              </div>
            </li>
        </ul>
      </div>
    </div>

    <div class="card-buttons " ng-if="main.play">
        <div class="row">
           <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="main.resetMatch(false)" ng-if="main.tieMatch">
                  Reset game
           </button>
           <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="main.resetMatch(true)" ng-if=" main.winner.win==2">
                  Reset match
           </button>
           <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="main.nextMatch()" ng-if="main.finishMatch && !main.tieMatch && main.winner.win!=2">
                  continuar
           </button>
        </div>
      </div>
  </div>
</div>


</div>
