<div class="main-content">

  <div class="header-title">
    <h1>3 En Linea</h1>
  </div>
<div class="center-layout">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp card-users" ng-if="!main.play">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text" ng-bind="main.nameUser"></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form  ng-submit="main.setUser()">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input animated" ng-class="{'error-input': main.errorInput, 'shake':  main.errorInput}" ng-model="main.userName" type="text" >
          <label class="mdl-textfield__label" for="sample1">Nombre del jugador</label>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="main.setUser()">
        continuar
      </button>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp card-play" ng-if="main.play">
    <div class="board">
      <div class="row" ng-repeat="row in main.arrayBoard track by $index">
        <div class="square" ng-repeat="column in row  track by $index" ng-click="main.changeValue($parent.$index, $index)" id="square-{{$parent.$index}}-{{$index}}">
            <div class="value value__p1 animated zoomIn" ng-if="main.arrayBoard[$parent.$index][$index] == 1">
              <span>x</span>
            </div>
            <div class="value value__p2 animated zoomIn" ng-if="main.arrayBoard[$parent.$index][$index] == 2">
              <span>o</span>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


</div>
